div {
  width: 100%;
  height: 100.2%;
  border-radius: 0 0 0 28px;
  background: #ffff;
  img {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 0 0 0 28px;
  }
}