div {
  position: absolute;
  top: -94.5px;
  left: 100px;
  background: #eee;
  border-radius: 6px;
  height: 17px;
  width: 135px;
  border: 1px solid #1a1818c7;
  box-sizing: border-box;
  box-shadow: 1px 1px 7px #1a1818 inset;
  text-align: center;
  box-sizing: border-box;
  color: #444141;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
}
