h3 {
  position: relative;
  left: -9px;
  color: #ffffff;
  text-align: center;
  width: 239px;
  font-weight: 500;
}

div {
  position: relative;
  top: -23px;
  left: 0px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}